.gamePage {
  width: auto;
  display: flex;
  flex-direction: column;
}
.court-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.courtScore {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  font-size: 2rem;
}
.courtMatchScore {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  font-size: 2rem;
}
.gameMatch-wrapper {
  display: flex;
  border-style: dashed;
  width: 35%;
  flex-direction: column;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}
.gameMatch {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.net-region {
  display: grid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: 2rem auto;
  justify-items: center;
  align-items: center;
  column-gap: 5px;
}
.names {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  font-size: 1rem;
  font-weight: bold;
}
.score-wrapper {
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 600px;
  margin: 20px auto;
  font-family: sans-serif;
}
@media screen and (min-aspect-ratio: 13/9) {
  /* landscape styles here */
  .gamePage {
    width: 100%;
  }
  .score-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 1000px;
    margin: 10px auto;
    font-family: sans-serif;
  }

  .courtScore {    
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    font-size: 3rem;
  }
}

@media screen and (max-aspect-ratio: 13/9) {
  /* portrait styles here */
  @media screen and (min-width: 400px) {
    .score-wrapper {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      width: 400px;
      margin: 10px auto;
      font-family: sans-serif;
    }
    .courtScore {
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center; /* vertical center */
      font-size: 2rem;
    }
  }
  @media screen and (max-device-width: 400px) {
    .score-wrapper {
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      width: 400px;
      margin: 20px auto;
      font-family: sans-serif;
    }
    .courtScore {
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center; /* vertical center */
      font-size: 2rem;
    }
  }
}
