@media screen and (min-aspect-ratio: 13/9) {
  /* landscape styles here */
}

@media screen and (max-aspect-ratio: 13/9) {
  /* portrait styles here */
  .Btm-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 0.2vh;
    /* border-style: dotted; */
  }
  .inactive{
    width: 22vmin;
    color: #000000;
  }
  .active {
    /* border-style: dotted; */
    width: 23vmin;
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
  }

}
