@media screen and (min-aspect-ratio: 13/9) {
  /* landscape styles here */
}

@media screen and (max-aspect-ratio: 13/9) {
  /* portrait styles here */

  .App {
    display: flex;
  }

  .App-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    border-style: dotted;
    width: 80vw;
    height: 99.5vh;
    margin: auto;
  }

  .App-header {
    font-size: 3rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
  }
}
